@model Root

<div class="text-center">


    @*<h2>@Model.drinks.FirstOrDefault().dateModified</h2>*@
    @*<h2>@Model.drinks.FirstOrDefault().idDrink</h2>
        <h2>@Model.drinks.FirstOrDefault().strAlcoholic</h2>
        <h2>@Model.drinks.FirstOrDefault().strCategory</h2>
        <h2>@Model.drinks.FirstOrDefault().strCreativeCommonsConfirmed</h2>*@

    <h1>@Model.drinks.FirstOrDefault().strDrink</h1>
    @*<h2>@Model.drinks.FirstOrDefault().strDrinkAlternate</h2>*@

    <img src="@Model.drinks.FirstOrDefault().strDrinkThumb" style="float:left" />

    @*<h2>@Model.drinks.FirstOrDefault().strGlass</h2>
    <h2>@Model.drinks.FirstOrDefault().strIBA</h2>
    <h2>@Model.drinks.FirstOrDefault().strImageAttribution</h2>
    <h2>@Model.drinks.FirstOrDefault().strImageSource</h2>*@

    <h2>@Model.drinks.FirstOrDefault().strIngredient1</h2>
    <h2>@Model.drinks.FirstOrDefault().strMeasure1</h2>

    <h2>@Model.drinks.FirstOrDefault().strIngredient2</h2>
    <h2>@Model.drinks.FirstOrDefault().strMeasure2</h2>

    <h2>@Model.drinks.FirstOrDefault().strIngredient3</h2>
    <h2>@Model.drinks.FirstOrDefault().strMeasure3</h2>

    <h2>@Model.drinks.FirstOrDefault().strIngredient4</h2>
    <h2>@Model.drinks.FirstOrDefault().strMeasure4</h2>

    <h2>@Model.drinks.FirstOrDefault().strIngredient5</h2>
    <h2>@Model.drinks.FirstOrDefault().strMeasure5</h2>

    <h2>@Model.drinks.FirstOrDefault().strIngredient6</h2>
    <h2>@Model.drinks.FirstOrDefault().strMeasure6</h2>

    <h2>@Model.drinks.FirstOrDefault().strIngredient7</h2>
    <h2>@Model.drinks.FirstOrDefault().strMeasure7</h2>

    <h2>@Model.drinks.FirstOrDefault().strIngredient8</h2>
    <h2>@Model.drinks.FirstOrDefault().strMeasure8</h2>

    <h2>@Model.drinks.FirstOrDefault().strIngredient9</h2>
    <h2>@Model.drinks.FirstOrDefault().strMeasure9</h2>

    <h2>@Model.drinks.FirstOrDefault().strIngredient10</h2>
    <h2>@Model.drinks.FirstOrDefault().strMeasure10</h2>

    <h2>@Model.drinks.FirstOrDefault().strIngredient11</h2>
    <h2>@Model.drinks.FirstOrDefault().strMeasure11</h2>

    <h2>@Model.drinks.FirstOrDefault().strIngredient12</h2>
    <h2>@Model.drinks.FirstOrDefault().strMeasure12</h2>

    <h2>@Model.drinks.FirstOrDefault().strIngredient13</h2>
    <h2>@Model.drinks.FirstOrDefault().strMeasure13</h2>

    <h2>@Model.drinks.FirstOrDefault().strIngredient14</h2>
    <h2>@Model.drinks.FirstOrDefault().strMeasure14</h2>

    <h2>@Model.drinks.FirstOrDefault().strIngredient15</h2>
    <h2>@Model.drinks.FirstOrDefault().strMeasure15</h2>

    <h2>@Model.drinks.FirstOrDefault().strInstructions</h2>

    @*<h2>@Model.drinks.FirstOrDefault().strInstructionsDE</h2>
        <h2>@Model.drinks.FirstOrDefault().strInstructionsES</h2>
        <h2>@Model.drinks.FirstOrDefault().strInstructionsFR</h2>
        <h2>@Model.drinks.FirstOrDefault().strInstructionsIT</h2>
        <h2>@Model.drinks.FirstOrDefault().strInstructionsZHHANS</h2>
        <h2>@Model.drinks.FirstOrDefault().strInstructionsZHHANT</h2>*
    @*<h2>@Model.drinks.FirstOrDefault().strTags</h2>
        <h2>@Model.drinks.FirstOrDefault().strVideo</h2>*@

</div>
 
